# Для Ubuntu надо переключить sudo-rs на sudo
# sudo update-alternatives --set sudo /usr/bin/sudo.ws
---
- name: Получить список процессов для определения DE
  command: ps -e
  register: running_processes
  changed_when: false
  become: no

- name: Определить, используется ли GNOME
  set_fact:
    desktop_is_gnome: "{{ 'gnome-shell' in running_processes.stdout }}"

- name: Определить, используется ли KDE Plasma
  set_fact:
    desktop_is_kde: "{{ 'plasmashell' in running_processes.stdout }}"

- name: "KDE: Определить версию KDE и команду для kwriteconfig"
  command: kreadconfig6 --version
  register: kde_version_check
  changed_when: false
  failed_when: false
  become: no
  when: desktop_is_kde

- name: "KDE: Настроить язык интерфейса в ~/.config/plasma-localerc"
  become_user: "{{ regular_user }}"
  become: no
  shell: >
    kwriteconfig6 --file plasma-localerc --group Language --key Language 'ru:en' &&
    kwriteconfig6 --file plasma-localerc --group Formats --key LANG 'ru_RU.UTF-8' &&
    kwriteconfig6 --file kxkbrc --group Layout --key LayoutList 'us,ru' &&
    kwriteconfig6 --file kxkbrc --group Layout --key Use true &&
    kwriteconfig6 --file kxkbrc --group Layout --key VariantList , &&
    kwriteconfig6 --file kxkbrc --group Layout --key ResetOldOptions true &&
    kwriteconfig6 --file kxkbrc --group Layout --key Options 'kpdl:dotoss,grp:alt_shift_toggle,grp:win_space_toggle'
  when: desktop_is_kde

- name: Добавить архитектуру i386
  command: dpkg --add-architecture i386
  become: yes

- name: Полное обновление системы
  apt:
    upgrade: dist
    update_cache: yes
  become: yes
  register: system_upgraded

- name: Установить hostname
  hostname:
    name: ubuntu
  become: yes
  when: false 

- name: Остановить и отключить snapd сервисы
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
    masked: yes
  loop: "{{ stop_services }}"
  become: yes
  ignore_errors: yes

- name: Удалить snapd
  apt:
    name: snapd
    state: absent
    purge: yes
  become: yes
  register: snap_removed

- name: Заблокировать snapd
  command: apt-mark hold snapd
  become: yes
  when: snap_removed.changed
  changed_when: false

- name: Удалить остатки snapd
  file:
    path: "{{ item }}"
    state: absent
  loop: "{{ snap_paths }}"
  become: yes
  ignore_errors: yes

- name: Добавить приоритет запрета snapd в apt preferences
  copy:
    content: |
      Package: snapd
      Pin: release a=*
      Pin-Priority: -10
    dest: /etc/apt/preferences.d/nosnap.pref
    mode: '0644'
  become: yes

- name: Установить пакеты из списка apt
  apt:
    name: "{{ apt_packages }}"
    state: present
  become: yes

- name: Добавить Flathub репозиторий
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
  when: flatpak_packages | length > 0

- name: Замаскировать openh264
  command: flatpak mask org.freedesktop.Platform.openh264
  become: yes

- name: Восстановить Flatpak
  command: flatpak repair
  changed_when: false

- name: Обновить Flatpak
  command: flatpak update -y
  changed_when: false

- name: Установить Flatpak-приложения
  flatpak:
    name: "{{ flatpak_packages }}"
    state: present
    method: user
  when: flatpak_packages | length > 0

- name: Установка Brave
  shell: curl -fsS https://dl.brave.com/install.sh | sh
  become: yes
  register: brave_install
  changed_when: "'already installed' not in brave_install.stdout"

- name: Скачать deb-пакет VSCode
  get_url:
    url: https://update.code.visualstudio.com/latest/linux-deb-x64/stable
    dest: /tmp/code.deb
    timeout: 30
  become: no

- name: Установить VSCode из deb
  apt:
    deb: /tmp/code.deb
  become: yes

- name: Обновить кеш шрифтов
  command: fc-cache -f
  become: yes
  changed_when: false

- name: Скопировать конфиг tmux
  copy:
    src: files/tmux/.tmux.conf
    dest: "{{ ansible_facts['env']['HOME'] }}/.tmux.conf"
    backup: yes
    mode: '0644'
  become: no

- name: Установить SpotX
  shell: bash <(curl -sSL https://spotx-official.github.io/run.sh) -f --installdeb
  become: yes
  args:
    executable: /bin/bash
  register: spotx_install
  changed_when: "'already been installed' not in spotx_install.stderr"
  failed_when:
    - spotx_install.rc != 0
    - "'already been installed' not in spotx_install.stderr"

- name: Установка stable toolchains Rust
  command: rustup toolchains install stable
  become: no

- name: Удалить ненужные пакеты
  apt:
    name: "{{ remove_packages }}"
    state: absent
    purge: yes
  become: yes
  ignore_errors: yes

- name: Сменить shell на fish
  user:
    name: "{{ regular_user }}"
    shell: /usr/bin/fish
  become: yes

- name: Создать директорию конфигурации fish
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/fish"
    state: directory
    mode: '0755'
  become: no

- name: Скопировать конфиг fish
  copy:
    src: files/fish/config.fish
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/fish/config.fish"
    mode: '0644'
    backup: yes
  become: no

- name: Автоудаление ненужных зависимостей
  command: apt autoremove -y
  become: yes
  changed_when: false

- name: Очистить кеш apt
  command: apt clean all
  become: yes
  changed_when: false

- name: Применить настройки GNOME
  script:
    cmd: files/gnome/gnome_settings.sh
    executable: /bin/bash
  become_user: "{{ regular_user }}"
  become: no
  when: desktop_is_gnome

- name: Сообщить о необходимости перезагрузки
  debug:
    msg: "Система была обновлена. Рекомендуется перезагрузить компьютер."